* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DCDCDC;
}

header {
    background-color: #1BB15D;
}

.logo {
    width: 265px;
    margin: 15px;
}

.top {
    height: 70px;
    width: 100%;
    display: inline-block;
}

.top .beam {
    width: 7px;
    height: 40px;
    background: #1BB15D;
    margin: 15px 3px 10px 30px;
    border-radius: 2.5px;
    float: left;
}

.top a p {
    font-size: 30px;
    margin-top: 15px;
    float: left;
    color: black;
}

.top p {
    font-size: 30px;
    margin-top: 15px;
}

.top p::before {
    content: ">";
    margin: 10px;
}

.line-border {
    width: 94%;
    margin: auto;
}

.line {
    border: dashed black 0.1px;
}

.c-area {
    width: 800px;
    height: 450px;
    background-color: #ff4c4c;
    border: solid 10px white;
    border-radius: 75px;
    margin-top: 120px;
}

h3 {
    color: white;
    margin: 50px;
    text-align: center;
    font-size: 30px
}

.c-area img {
    width: 200px;
    border-radius: 300px;
    border: solid 8px white;
}

.info {
    width: 200px;
    height: 70px;
    background-color: white;
    border: solid 6px black;
    border-radius: 200px;
    position: absolute;
    top: 740px;
    left: 380px;
}

h4 {
    font-size: 35px;
    margin-top: 10px;
}

.p-area {
    width: 800px;
    height: 450px;
    background-color: #78cb83;
    margin-top: -9.5px;
    border: solid 10px white;
    border-radius: 75px;
}

.p-area img {
    width: 200px;
    border-radius: 300px;
    border: solid 8px white;
    margin: 15px;
    cursor: pointer;
}

a  {
    text-decoration: none;
}

.bottom a p {
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 45px 0px 10px 0px;
}

.bottom p {
    text-align: center;
}
